.date{grid-area:1/2/2/4}.date__time{font-size:3rem}
.slider__background{width:100vw;height:100vh;position:absolute;top:0;left:0;z-index:-1}.slider__icons{position:fixed;z-index:1;top:50%;left:0;transform:translateY(-50%);width:100%;display:flex;justify-content:space-between;padding:1rem}.slider__icons i{font-size:4rem;color:#fff}
.greetings{grid-area:2/2/3/4;display:flex;justify-content:center;align-items:center;gap:1rem;color:#fff}.greetings__title{text-align:right;width:50%}.greetings__name{text-align:left;width:50%}
.footer{display:flex;justify-content:space-between;align-items:center;padding:.5rem 1rem;gap:.5rem}.footer .footer__logo{width:100px;height:30px}
.quote{grid-area:4/2/5/4;display:flex;flex-direction:column;gap:.5rem}.quote__author{font-size:.8rem}
.settings{grid-area:3/1/5/2;display:flex;flex-direction:column;justify-content:end}.settings__toggle{width:2rem;height:2rem}input.background-source__query{background-color:rgba(70,70,70,.3);width:100%}.settings__popup{display:flex;flex-direction:column;gap:2rem}.settings__popup-content{display:flex;justify-content:space-between;align-items:center;gap:1rem}.popup-content__column{width:50%;display:flex;flex-direction:column;gap:1rem}.settings__item{padding:.5rem;display:flex;flex-direction:column;gap:1rem;align-items:center;position:relative;z-index:9999}.settings__item ul{display:flex;flex-direction:column;width:100%;gap:.5rem}.settings__item ul li{display:flex;justify-content:space-between}@media(min-width: 1920px){.settings__item ul{width:60%}}
.todolist{gap:2rem;display:flex;flex-direction:column;align-items:center;grid-area:3/2/4/4;position:relative;z-index:99999}.todolist__controls{width:100%;display:flex;gap:.5rem;justify-content:space-between;align-items:center}.todolist__main-input{color:#fff;background-color:rgba(70,70,70,.3);flex-grow:3}.todolist__toggle-button{flex-grow:0}.todolist__toggle-button i{font-size:4rem;color:rgba(0,0,0,.5)}.todolist__toggle-button.rotated{transform:rotate(90deg)}.todolist__content{width:100%;display:flex;row-gap:1rem;flex-direction:column;max-height:240px;overflow-y:auto}.todolist-item{padding:.5rem;background-color:rgba(70,70,70,.3);display:flex;justify-content:space-between;align-items:center;gap:2rem;color:#fff}.todolist-item img{height:1.5rem;width:1.5rem}.todolist-item__content{cursor:pointer}.todolist-item__toggle{height:1.5rem;width:1.5rem}.todolist-item__toggle:checked~.todolist-item__content{text-decoration:line-through}.todolist-item__editor{display:flex;gap:1rem;align-items:center;flex-grow:1}.todolist-item__editor input{background-color:rgba(70,70,70,.3);flex-grow:1;padding:.5rem}.todolist-item__editor .todolist-item-editor__controls{display:flex;gap:.5rem;align-items:center}
.weather{display:flex;flex-direction:column;gap:1rem;text-align:left;grid-area:1/4/2/5;width:100%}.weather__details{display:flex;flex-direction:column;gap:1rem}.weather__details>*{display:flex;gap:.5rem}.weather__details_icon{font-size:3rem}.weather__query{border-bottom:1px solid #fff}
.player{display:flex;flex-direction:column;align-items:center;row-gap:2rem;position:relative;grid-area:1/1/3/2}.player.hidden{display:none}.custom-player{width:100%;background-color:rgba(70,70,70,.3);display:flex;padding:1rem;align-items:center;justify-content:space-between;flex-wrap:wrap;flex-direction:column;gap:1rem}@media(min-width: 1400px){.custom-player{flex-direction:row;justify-content:center}}.duration{width:100%;display:flex;align-items:center;gap:1rem}.duration span{display:flex;gap:.25rem}.volume{max-width:100%;display:flex;align-items:center;justify-content:center;gap:1rem;flex-grow:2}@media(min-width: 1400px){.volume{max-width:70%}}input[type=range]{appearance:none;background-color:rgba(0,0,0,0);padding:0}input[type=range].duration__range,input[type=range].volume__range{flex:1}input[type=range]::-webkit-slider-runnable-track{border-radius:.5rem/100%;height:.4rem;background-color:#000}input[type=range]::-webkit-slider-thumb,input[type=range]::-moz-range-thumb{background:#ecf0f1;border-radius:50%;width:.5rem;height:.5rem}input[type=range]::-moz-range-track{border-radius:.5rem/100%;height:.3rem;background-color:#000}input[type=range]::-moz-range-progress{border-radius:.5rem/100%;height:.3rem;background-color:#fff}.player-controls{display:flex;align-items:center;justify-content:space-between;max-width:100%;flex-grow:2}.player-controls .player-icon i{font-size:1.5rem}.player-controls .player-icon.play-toggle-main i{font-size:1.75rem}@media(min-width: 1400px){.player-controls{max-width:30%}}.playlist{display:flex;flex-direction:column;gap:.5rem}.playlist-item{text-align:left;opacity:.8;display:flex;align-items:center;justify-content:space-between;gap:1rem}.playlist-item:hover{opacity:1}.playlist-item .playlist-item__title{flex-grow:1}input[name=playlist-item]{display:none}input[name=playlist-item]:checked~.playlist-item__play-index{color:#c5b358}.volume__control i{color:#c5b358}.volume__control[data-muted=true] i{color:#000}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face{font-family:"Arial-MT";src:url(../assets/fonts/Arial-MT.woff)}*{box-sizing:border-box;margin:0;padding:0;transition:.5s}html{font-size:14px}@media(min-width: 1280px){html{font-size:16px}}@media(min-width: 1920px){html{font-size:18px}}input{border:none;background-color:rgba(0,0,0,0);border:0;outline:0;color:inherit;font-size:inherit;padding:.5rem 1rem}input[type=checkbox],input[type=radio],input[type=range]{cursor:pointer}input[type=text]{cursor:text}ul,ol{list-style:none}li{list-style-type:none}label{cursor:pointer}a{text-decoration:none;font-family:inherit;color:inherit;font-size:inherit;line-height:1;color:#fff}button{border:none;background-color:rgba(0,0,0,0);opacity:.5;display:flex;justify-content:center;align-items:center;font-family:inherit;font-size:inherit;line-height:1;color:inherit;cursor:pointer}button:hover{opacity:1;transform:scale(1.1)}button img{width:100%}button i{font-size:2rem;color:#fff}body{width:100svw;height:100svh;overflow:hidden;font-family:"Arial",sans-serif;color:#fff;text-align:center;background-blend-mode:multiply;transition:1s ease-in-out;display:flex;flex-direction:column}main{flex-grow:1;display:grid;grid-template-columns:repeat(4, 1fr);grid-template-rows:.5fr .25fr 1fr .25fr;grid-column-gap:1rem;grid-row-gap:1rem}main>*{padding:.5rem;opacity:1}@media(min-width: 1280px){main>*{padding:1rem}}.hidden{display:none}.invisible{opacity:0;pointer-events:none}.title_big{font-size:1.2rem;font-weight:normal}@media(min-width: 1400px){.title_big{font-size:1.35rem}}@media(min-width: 1920px){.title_big{font-size:1.5rem}}
