.greetings {
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.greetings__title {
  text-align: right;
  width: 50%;
}

.greetings__name {
  text-align: left;
  width: 50%;
}
