.greetings {
  font-size: 2rem;
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.greetings__title {
  text-align: right;
  width: 50%;
}

.greetings__name {
  width: 50%;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}
