.weather {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  grid-area: 1 / 4 / 2 / 5;
  width: 100%;
}

.weather__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > * {
    display: flex;
    gap: 0.5rem;
  }
}

.weather__details_icon {
  font-size: 3rem;
}

.weather__query {
  border-bottom: 1px solid #fff;
}
