.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  position: relative;
  grid-area: 1 / 1 / 3 / 2;

  &.hidden {
    display: none;
  }
}

.custom-player {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.duration {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type='range'] {
  appearance: none;
  background-color: transparent;

  &.duration__range,
  &.volume__range {
    width: 70%;
  }

  &::-webkit-slider-runnable-track {
    border-radius: 0.5rem/100%;
    height: 0.5rem;
    background-color: black;
  }

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    background: #ecf0f1;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }

  &::-moz-range-track {
    border-radius: 0.5rem/100%;
    height: 0.5rem;
    background-color: black;
  }

  &::-moz-range-progress {
    border-radius: 0.5rem/100%;
    height: 0.5rem;
    background-color: white;
  }
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding: 0 1rem;
  gap: 1rem;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.playlist-item {
  text-align: left;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &:hover {
    opacity: 1;
  }
  .playlist-item__title {
    flex-grow: 1;
  }
}

input[name='playlist-item'] {
  display: none;

  &:checked ~ .playlist-item__play-index {
    color: #c5b358;
  }
}

.volume__control {
  i {
    color: #c5b358;
  }

  &[data-muted='true'] {
    i {
      color: black;
    }
  }
}
