@charset "UTF-8";
@font-face {
  font-family: "Arial-MT";
  src: url("./assets/fonts/Arial-MT.woff");
  /* Путь к файлу со шрифтом */
}
input[type=range] {
  cursor: pointer;
}

li {
  list-style-type: none;
}

label {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: 1s ease-in-out;
  background-color: #295f40;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  position: relative;
  z-index: 999999;
  width: 20%;
  padding-top: 20px;
}

.customPlayer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  padding: 15px;
  font-size: 14px;
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.activeTrackTitle {
  font-weight: bolder;
}

.durationBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volumeBlock {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customPlayer input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}

.durationAudio {
  width: 70%;
}

.volumeAudio {
  width: 70%;
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 7px;
  background-color: black;
}

input[type=range]::-webkit-slider-thumb {
  background: #ecf0f1;
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-top: -4px;
  border: none;
}

input[type=range]::-moz-range-track {
  border-radius: 10px/100%;
  height: 5px;
  background-color: black;
}

input[type=range]::-moz-range-thumb {
  background: #ecf0f1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

input[type=range]::-moz-range-progress {
  background-color: white;
  height: 5px;
  border-radius: 10px/100%;
}

.changeVolumeAudio {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgOn {
  fill: white;
}

.svgOff {
  fill: black;
}

.buttonList {
  background: url("./assets/svg/play.svg"), transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
}

.item-active .buttonList.buttonActive {
  background: url("./assets/svg/pause.svg"), transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 0 20px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider__icons_icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 999999;
}

.player-icon:hover,
.slider__icons_icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider__icons_icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("./assets/svg/play.svg");
}

.pause {
  background-image: url("./assets/svg/pause.svg");
}

.play-prev {
  background-image: url("./assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("./assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  position: relative;
}

.weather-error {
  width: 180px;
  position: absolute;
  right: 200px;
  top: 0;
  color: #c5b358;
  padding: 10px;
}

.hidden {
  display: none;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::-moz-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("./assets/svg/reload.svg");
}

.quote-container {
  width: 60%;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.todolist {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  display: flex;
  row-gap: 30px;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  align-items: center;
}

.todolist h2 {
  color: rgba(255, 255, 255, 0.5);
}

.todolist ol {
  width: 25%;
  margin: auto;
  height: 101px;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
}

.scroll {
  overflow-y: scroll;
}

#todoText {
  width: 40%;
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  height: 60px;
  padding: 0 15px;
}

.todolistItem {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todolistItemRewrite {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 20px;
}

.deleteButton {
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("./assets/svg/close-cross.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.todolistItemCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.lineThrough {
  text-decoration: line-through;
}

.openListButton {
  width: 40px;
  height: 40px;
  position: absolute;
  right: calc(100vw - 75%);
  top: 75px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("./assets/svg/slider-next.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  opacity: 0.8;
  transition: 0.3s;
}

.openListButtonToTop {
  transform: rotate(-90deg);
}

.openListButton:hover {
  opacity: 1;
  transition: 0.3s;
}

.todolist ol.openList {
  position: absolute;
  top: 0;
  right: 0;
  height: 280px;
  width: 20%;
}

@media (max-width: 1919px) {
  .player {
    row-gap: 20px;
    width: 30%;
    padding-top: 15px;
  }
  .customPlayer {
    padding: 15px;
    font-size: 12px;
    row-gap: 20px;
  }
  .player-icon {
    background-size: contain;
  }
  .changeVolumeAudio {
    width: 20px;
    height: 20px;
  }
  .player-controls {
    padding: 0 10px;
  }
}
@media (max-width: 1024px) {
  .settings {
    width: 10%;
    bottom: 0;
    transition: 1s;
    padding: 20px;
    left: 0;
  }
  .settings.activeSettings {
    width: 100%;
  }
  .settingsPopup {
    background-color: black;
    position: relative;
    left: -100vw;
  }
  .settingsPopup.activePopup {
    left: 0vw;
    z-index: 99999999999;
  }
  .background-source__query {
    width: 100%;
  }
  .openListButton {
    visibility: hidden;
  }
  .todolist ol {
    position: absolute;
    top: 0;
    right: 0;
    height: 350px;
    width: 20%;
  }
  .player {
    row-gap: 20px;
    width: 50%;
    padding-top: 15px;
    font-size: smaller;
  }
  .customPlayer {
    padding: 15px;
    font-size: 12px;
    row-gap: 20px;
  }
  .changeVolumeAudio {
    width: 20px;
    height: 20px;
  }
  .player-controls {
    padding: 0 10px;
  }
  .play-list {
    align-self: flex-start;
  }
}
@media (max-width: 480px) {
  .customPlayer {
    font-size: 10px;
  }
  .todolist {
    font-size: 12px;
  }
  .todolist #todoText {
    font-size: 14px;
    height: 30px;
  }
  .todolist h2 {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */