@font-face {
  font-family: 'Arial-MT';
  src: url('./assets/fonts/Arial-MT.woff');
  /* Путь к файлу со шрифтом */
}

input {
  border: none;
}

input[type='range'] {
  cursor: pointer;
}

li {
  list-style-type: none;
}

label {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  img {
    width: 100%;
  }
  i {
    font-size: 2rem;
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: 1s ease-in-out;
  background-color: #295f40;
}

.hidden {
  display: none;
}
