@font-face {
  font-family: 'Arial-MT';
  src: url('./assets/fonts/Arial-MT.woff');
  /* Путь к файлу со шрифтом */
}

input {
  border: none;
}

input[type='range'] {
  cursor: pointer;
}

li {
  list-style-type: none;
}

label {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  img {
    width: 100%;
  }
  i {
    font-size: 2rem;
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: 1s ease-in-out;
  background-color: #295f40;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  position: relative;
  z-index: 999999;
  width: 20%;
  padding-top: 20px;
}

.customPlayer {
  width: 100%;

  background-color: rgba(255, 255, 255, 0.2);

  display: flex;
  padding: 15px;
  font-size: 14px;
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  row-gap: 30px;
}

.activeTrackTitle {
  font-weight: bolder;
}

.durationBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volumeBlock {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customPlayer input[type='range'] {
  appearance: none;
  background-color: transparent;
}

.durationAudio {
  width: 70%;
}

.volumeAudio {
  width: 70%;
}

input[type='range']::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 7px;
  background-color: black;
}

input[type='range']::-webkit-slider-thumb {
  background: #ecf0f1;
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-top: -4px;
}

input[type='range']::-moz-range-track {
  border-radius: 10px/100%;
  height: 5px;
  background-color: black;
}

input[type='range']::-moz-range-thumb {
  background: #ecf0f1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-moz-range-progress {
  background-color: white;
  height: 5px;
  border-radius: 10px/100%;
}

.changeVolumeAudio {
  width: 25px;
  height: 25px;

  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgOn {
  fill: white;
}

.svgOff {
  fill: black;
}

.buttonList {
  background: url('./assets/svg/play.svg'), transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.item-active .buttonList.buttonActive {
  background: url('./assets/svg/pause.svg'), transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 0 20px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider__icons_icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;

  position: relative;
  z-index: 999999;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('./assets/svg/play.svg');
}

.pause {
  background-image: url('./assets/svg/pause.svg');
}

.play-prev {
  background-image: url('./assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('./assets/svg/play-next.svg');
}

@media (max-width: 1919px) {
  .player {
    row-gap: 20px;
    width: 30%;
    padding-top: 15px;
  }

  .customPlayer {
    padding: 15px;
    font-size: 12px;
    row-gap: 20px;
  }

  .player-icon {
    background-size: contain;
  }

  .changeVolumeAudio {
    width: 20px;
    height: 20px;
  }

  .player-controls {
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .settings {
    width: 10%;
    bottom: 0;
    transition: 1s;
    padding: 20px;
    left: 0;
  }

  .settings.activeSettings {
    width: 100%;
  }

  .settingsPopup {
    background-color: black;
    position: relative;
    left: -100vw;
  }

  .settingsPopup.activePopup {
    left: 0vw;
    z-index: 99999999999;
  }

  .background-source__query {
    width: 100%;
  }

  .player {
    row-gap: 20px;
    width: 50%;
    padding-top: 15px;
    font-size: smaller;
  }

  .customPlayer {
    padding: 15px;
    font-size: 12px;
    row-gap: 20px;
  }

  .changeVolumeAudio {
    width: 20px;
    height: 20px;
  }

  .player-controls {
    padding: 0 10px;
  }

  .play-list {
    align-self: flex-start;
  }
}

@media (max-width: 480px) {
  .customPlayer {
    font-size: 10px;
  }
}
